In [2]:
# TP2 Python - Julien Couturier (classe 31)

In [ ]:
# Initialisation de panda et récupération des bases de données en dataframes.

In [ ]:
import pandas as pd
dfadd=pd.read_csv("nodes-addresses.csv",low_memory=False)
dfent=pd.read_csv("nodes-entities.csv",low_memory=False)
dfinter=pd.read_csv("nodes-intermediaries.csv",low_memory=False)
dfoff=pd.read_csv("nodes-officers.csv",low_memory=False)
dfoth=pd.read_csv("nodes-others.csv",low_memory=False)
dfrel=pd.read_csv("relationships.csv",low_memory=False)

In [ ]:
# Exercice I :

In [ ]:
    # Question 1 :

In [3]:
dfadd['countries'].value_counts()

China                       32067
Hong Kong                   27179
United States               24248
Barbados                    19344
Aruba                       17512
                            ...
Northern Mariana Islands        1
New Caledonia                   1
Norfolk Island                  1
Réunion                         1
Korea, Republic of              1
Name: countries, Length: 237, dtype: int64

In [ ]:
# Il y a 237 pays déclarés dans les offshore leaks

In [ ]:
    # Question 2 :

In [4]:
dfadd[dfadd["countries"]=="Ireland"]

,_id,node_id,address,name,countries,country_codes,sourceID,valid_until,note
541,466971,14000012,"""Touchstone""; Ardbraccan; Navan; County Meath;...",NaN,Ireland,IRL,Panama Papers,The Panama Papers data is current through 2015,NaN
1113,467543,14006818,19 Fitzwilliam Square Dublin 2 Ireland,NaN,Ireland,IRL,Panama Papers,The Panama Papers data is current through 2015,NaN
1223,467653,14006928,19 STOCKING WOOD GREEM; STOCKING AVENUE; RATHF...,NaN,Ireland,IRL,Panama Papers,The Panama Papers data is current through 2015,NaN
1428,467858,14007133,1; COURTYARD BUSINESS CENTRE; ORCHARD LANE; BL...,NaN,Ireland,IRL,Panama Papers,The Panama Papers data is current through 2015,NaN
1429,467859,14007134,1; COURTYARD BUSINESS PARK; ORCHARD LANE; BLAC...,NaN,Ireland,IRL,Panama Papers,The Panama Papers data is current through 2015,NaN
...,...,...,...,...,...,...,...,...,...
390161,1965915,68000861,NaN,"Kilquane Lower Mead Ford, Killarey, Co Kerry, ...",Ireland,IRL,Paradise Papers - Samoa corporate registry,Samoa corporate registry data is current throu...,NaN
390457,1966211,68001157,NaN,"Innisfallen, 149 Dublin Road, Dublin 13, Ireland",Ireland,IRL,Paradise Papers - Samoa corporate registry,Samoa corporate registry data is current throu...,NaN
390662,1966416,68001362,NaN,"20 Nutley Road, Donnybrook, Dublin 4, Ireland",Ireland,IRL,Paradise Papers - Samoa corporate registry,Samoa corporate registry data is current throu...,NaN
390783,1966537,68001483,NaN,"Maree Cross, Lower Gurrane, Dranmore, County G...",Ireland,IRL,Paradise Papers - Samoa corporate registry,Samoa corporate registry data is current throu...,NaN
390784,1966538,68001484,NaN,"Maree Cross, Lower Gurrane, Maree, Dranmore, C...",Ireland,IRL,Paradise Papers - Samoa corporate registry,Samoa corporate registry data is current throu...,NaN

In [ ]:
# L'entrée "Ireland" (le pays Irlande) est déclaré 899 fois.

In [ ]:
    # Question 3 :

In [5]:
dfoff[dfoff["name"]=="EL PORTADOR"]

,_id,node_id,name,countries,country_codes,sourceID,valid_until,note
1938,230536,12004453,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
1939,230537,12004454,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
2324,230922,12004837,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
2325,230923,12004838,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
2327,230925,12004840,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
...,...,...,...,...,...,...,...,...
223877,452475,12001322,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
223906,452504,12001351,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
223907,452505,12001352,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
223908,452506,12001353,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN
223909,452507,12001354,EL PORTADOR,NaN,NaN,Panama Papers,The Panama Papers data is current through 2015,NaN

In [ ]:
# Le nom "EL PORTADOR" apparait 9325 fois.

In [ ]:
# Exercice 2 :

In [ ]:
    # Question 4 :

In [ ]:
import seaborn as sns
sns.countplot(x="countries", data=dfadd)

In [ ]:
# L'histogramme ne suit pas une loi normale.

In [ ]:
    # Question 5 :

In [22]:
dfadd2=dfadd['countries'].value_counts()

In [24]:
dfadd2.head(n=20)

China                     32067
Hong Kong                 27179
United States             24248
Barbados                  19344
Aruba                     17512
Taiwan                    15326
United Kingdom            11706
Singapore                  7149
Russia                     5963
British Virgin Islands     5282
Switzerland                5113
Jersey                     3932
Bermuda                    3920
Indonesia                  3412
United Arab Emirates       3283
Panama                     3257
Malaysia                   3241
Canada                     3139
Brazil                     2979
Cyprus                     2842
Name: countries, dtype: int64

In [ ]:
# Les 20 pays les plus déclarés.

In [ ]:
# Exercice 3 :

In [ ]:
    # Question 6 :

In [29]:
dfmerged=pd.concat([dfadd, dfent, dfinter, dfoff, dfoth, dfrel])

In [30]:
dfmerged_sp=dfmerged['service_provider'].value_counts()

In [ ]:
# Concaténation des dataframes et récupération des tuples avec un "service provider".

In [31]:
dfmerged_sp

Mossack Fonseca               213634
Portcullis Trustnet            61123
Commonwealth Trust Limited     44393
Appleby                        24936
Name: service_provider, dtype: int64

In [ ]:
# Affichage du nombre de service providers et le nombre d'apparition.

In [32]:
dfmerged_sp_percent=(dfmerged_sp/dfmerged_sp.sum())

In [33]:
dfmerged_sp_percent

Mossack Fonseca               0.620874
Portcullis Trustnet           0.177639
Commonwealth Trust Limited    0.129017
Appleby                       0.072470
Name: service_provider, dtype: float64

In [ ]:
# Transformation des valeurs numériques en pourcentages :
#   Mossack Fonseca                = 62,09%
#   Portcullis Trustnet            = 17,76%
#   Commonwealth Trust Limited     = 12,90%
#   Appleby                        = 7,25%